.navbar {
    width: 100%;  
    border: none;
	padding: 3rem 0;
	background-color: #000; 
	z-index: 7;
}

nav {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-toggle {
    margin-left: 2rem;
	border: none;
	color: #fff;
	height: 45px;
	background-color: #cbc9c9;
	padding: 0;
	border-radius: 0.5rem;
	width: 45px;
}

.nav-toggle span {
	background-color: #cbc9c9;
}

.menu {
	background-color: #cbc9c9;
	color: #000;
	height: 80%;
	width: 80%;
	padding: 0;
	border-radius: 0.5rem;
}

.menu:active {
	background-color: #999696;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-collapse {
    display: flex;
    justify-content: center;
    align-items: center; 
	padding-bottom: 2rem;  
	background-color: #000;
} 

nav a {
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	text-align: center;
	height: 100%;
	font-size: 18px;
	color: #737171;
	border-bottom: 1px solid transparent;
	padding: 0.5rem 0;
}

nav a:hover {
    color: #fff;
	border-bottom: 1px solid #fff;
}

nav a:nth-child(1) {
	width: 90px;
    color: #dc2222;
}
nav a:nth-child(1):hover {
	border-bottom: 1px solid #dc2222;
}
nav a:nth-child(2) {
	width: 120px;
}
nav a:nth-child(3) {
	width: 120px;
}
nav a:nth-child(4) {
	width: 130px;
}
nav a:nth-child(5) {
	width: 120px;
}
