.navbar {
    width: 100%;  
    border: none;
	padding: 3rem 0;
	background-color: #000; 
	z-index: 7;
}

nav {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-toggle {
    margin-left: 2rem;
	border: none;
	color: #fff;
	height: 45px;
	background-color: #cbc9c9;
	padding: 0;
	border-radius: 0.5rem;
	width: 45px;
}

.nav-toggle span {
	background-color: #cbc9c9;
}

.menu {
	background-color: #cbc9c9;
	color: #000;
	height: 80%;
	width: 80%;
	padding: 0;
	border-radius: 0.5rem;
}

.menu:active {
	background-color: #999696;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-collapse {
    display: flex;
    justify-content: center;
    align-items: center; 
	background-color: #000;
} 

nav a {
	text-decoration: none; 
	color: #999696;
	text-align: center; 
	font-size: 18px;
	border-bottom: 1px solid transparent;
	margin: 0 0.5rem; 
	letter-spacing: 1px;
	text-shadow: 5px 10px 5px rgba(205, 184, 184, 0.5);
	transition: transform 0.2s ease-in-out; 
}

nav a:hover {
	border-bottom: 1px solid #fff;
	color: #fff;
  	transform: scale(1.2);
}

nav a:nth-child(1) {
	width: 90px;
    color: red;
}
nav a:nth-child(1):hover {
	border-bottom: 1px solid red;
}
nav a:nth-child(2) {
	width: 120px;
}
nav a:nth-child(3) {
	width: 120px;
}
nav a:nth-child(4) {
	width: 130px;
}
nav a:nth-child(5) {
	 width: 60px; 
}


/* -------------- RESPONSIVE ----------------- */

/* ---------xs----------- */
@media screen and (max-width: 575px) {

 	nav a {
		margin: 1.5rem 0;
		align-self: center;
 	}
}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

 	nav a {
		margin: 1.5rem 0;
		align-self: center;
 	}
}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

 	nav a {
		margin: 1.5rem 0;
		align-self: center;
 	}
}
