.servicio-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  background: #000;
  border-radius: 1rem;
  padding-top: 1.5rem;
  margin: 0 1rem;
}

.servicio-card > img {
  background-color: #fff;
  height: 250px;
  width: 90%; 
  object-fit: fill; 
  object-position: center; 
  border-radius: 1rem;
  border: 2px solid #fff;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}

.servicio-card-body {
  color: #fff;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.container-servicios {
    width: 400px;
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}


