.container-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-nosotros h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 5px 10px 5px rgb(255, 255, 255, 0.5);
}

.container-nosotros span {
    font-size: 3rem;
}

.nosotros-card {
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 0;
    border: 2px solid rgba(255, 255, 255, 0.503);
    border-radius: 1rem;
}

.nosotros-col {
    padding: 0; 
    width: 49%;
}

.nosotros-col:nth-child(1) {
    margin-right: 2%;
}

.nosotros-card-img {
    height: 300px;
    object-fit: cover;
    border-radius: 1rem;
}

.nosotros-leyenda {
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: justify;
    color: #000;
    background-color: #eeeaea;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503);
    font-weight: 500;
} 

.nosotros-leyenda span {
    color: red;
    background-color: #eeeaea;
    font-size: 1.2rem;
    font-weight: bolder;
}

.img-camioneta {
    margin-top: 3rem;
}