.section-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-nosotros h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    text-shadow: 5px 10px 5px rgb(255, 255, 255, 0.5);
}

.section-nosotros h3 span {
    font-size: 3rem;
}

.container-nosotros-texto {
    height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}

.container-nosotros-texto p {
    color: #fff;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.3;
}

.container-nosotros-texto .title {
    margin: 2rem;
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

.container-nosotros-texto .text {
    margin: 0 2rem 2rem 2rem; 
}

.container-nosotros-img {
    width: 100%;
    height: 400px; 
    border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}

.container-nosotros-img img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius: 1rem;
}

.row-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: 1rem;
    margin-bottom: 1.5rem;
}


/* -------------- RESPONSIVE ----------------- */

/* ---------xs----------- */
@media screen and (max-width: 575px) {
    .container-nosotros-texto {
        height: 390px;  
    }

    .container-nosotros-img {
        height: 390px; 
        margin: 2rem 0;
    }

    .container-nosotros-img img{
        object-fit: fill; 
    }

    .row-nosotros {
        gap: 2rem;
    }
     
}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container-nosotros-texto {
        height: 390px;  
    }

    .container-nosotros-img {
        height: 390px; 
        margin: 2rem 0;
    }

    .container-nosotros-img img{
        object-fit: fill; 
    }

    .row-nosotros {
        gap: 2rem;
    }
}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-nosotros-texto {
        height: 330px;  
    }

    .container-nosotros-img {
        height: 330px; 
        margin: 1rem;
    }
}

/* ---------lg----------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container-nosotros-img img {
        object-fit: fill; 
    }

    .container-nosotros-texto {
        height: 460px;  
    }
}

/* ---------xl----------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .row-nosotros {
        gap: 2rem;
        margin-bottom: 3rem;
    }

    .container-nosotros-img img {
        object-fit: fill; 
    }
}

