.section-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-nosotros h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    text-shadow: 5px 10px 5px rgb(255, 255, 255, 0.5);
}

.section-nosotros h3 span {
    font-size: 3rem;
}

.container-nosotros-texto {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}

.container-nosotros-texto p {
    color: #fff;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.3;
}

.container-nosotros-texto .title {
    margin: 2rem;
    font-size: 1.5rem;
    color: red;
}

.container-nosotros-texto .text {
    margin: 0 2rem 2rem 2rem; 
}

.container-nosotros-img {
    border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}

.container-nosotros-img img {
    width: 490px;
    height: 320px;
    object-fit: cover; 
    border-radius: 1rem;
}

.row-nosotros {
    margin: 0.5rem 0;
}

