.section-servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-servicios h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #fff;
    text-shadow: 5px 10px 5px rgb(255, 255, 255, 0.5);
}

.section-servicios h3 span {
    font-size: 3rem;
}

.container-servicios-leyenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
    text-align: justify;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
}

.container-servicios-leyenda p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
}

.container-servicios-leyenda p span {
    color: red;
}











