.column-center-center, .container-home, .home-card, .container-horario_horario, .container-contacto-info, .ul-contacto, .ul-horario, .col-ubicacion, .container-video-video, .col-contacto_horario  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center-center, .row-home, .col-home, .home-card-body, .col-video, .section-ubicacion, .row-ubicacion, .col-ubicacion_img, .col-ubicacion_mapa, .row-ubicacion-direccion, .section-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-home, .section-video, .section-contacto_horario, .section-ubicacion {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.container-home {
  width: 100vw;
}

.container-bienvenido {
  width: 100vw;
  height: calc(100vh - 228px);
  background-image: url("../../../public/img/home/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items:last baseline;
  padding-bottom: 100px;
  padding-left: 50px;
}

.container-bienvenido img {
  width: 230px;
  height: 330px;
}


/* ------------------------------------------------------------------ */

.row-home, .row-video {
  border: 2px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem 0;
}

.home-card {
  background: #000; 
  padding-top: 1.5rem;
  border-radius: 1rem;
}

.home-card > img {
  background-color: #fff;
  height: 250px;
  object-fit: fill; 
  object-position: center; 
  border-radius: 1rem;
  border: 2px solid #fff;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}

.home-card-body {
  color: #fff;
  width: 100%;
  height: 110px;
  text-align: center;
  font-weight: bold;
}

/* -------------- Seccion ubicacion ----------------- */

.section-ubicacion {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.ul-ubicacion {
  list-style-type: none;
  padding: 0;
}

.ul-ubicacion li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  color: red;
}

.col-ubicacion {
  margin-bottom: 2rem;
}

.col-ubicacion_img img {
  width: 180px;
  height: 330px;
}

/* -------------- Seccion contacto/horario ----------------- */

.col-contacto_horario, .col-video, .row-ubicacion {
  background-color: #000000;
  border: 2px solid rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
  border-radius: 1rem;
  padding: 3rem 0;
}

.row-ubicacion {
  padding-bottom: 5rem;
  width: 70%;
}

.section-contacto_horario {
  width: 100%;
  margin: 3rem 0;
}

.container-horario_horario {
  padding: 0 3rem;
}

.row-contacto_horario {
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  justify-content: center;
} 

.ul-contacto, .ul-horario {
  list-style-type: none;
  padding: 0;
}

.ul-contacto li, .ul-horario li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
}

.ul-contacto li a {
  text-decoration: none;
  display: inline-block;
  transition: transform .5s;
}

.container-contactanos-img img {
  width: 380px;
}

.hora {
  letter-spacing: 1px;
}

.titulo {
  border: 3px solid #fff;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  color: #fff;
}

.ul-contacto li a:hover {
  transform: scale(1.2);
}

.icon-click {
  color: #333bb2;
}

.container-horario-info {
  display: flex;
  justify-content: center;
  align-items: end;
}

.container-horario_img {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 2rem;
}

.color-red {
  color: rgb(255, 0, 0);
}

.color-light {
  color: #fff;
}

.color-green {
  color: rgb(52, 190, 28);
}

.color-blue {
  color: #2834dd;
}

/* -------------- Seccion video ----------------- */

.section-video {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.row-video video {
  background-color: rgb(248, 220, 13);
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  object-fit: contain;
}

.container-video-info {
  width: 90%;
  margin: auto;
  font-weight: bold;
}

.container-video-info p {
  padding: 1rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.7;
}

.container-video-info span {
  font-weight: bold;
  color: red;
}

.container-video-video {
  padding: 0;
}


/* -------------- Seccion whatsapp ----------------- */

.whatsapp {
  height: 110px;
  width: 110px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: green;
  z-index: 10; 
}

.whatsapp:hover {
  transform: scale(1.3);
  filter: grayscale(40%);
}


/* -------------- RESPONSIVE ----------------- */

/* ---------xs----------- */
@media screen and (max-width: 575px) {

  .row-home {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .home-card {
    width: 400px;
    margin-bottom: 3rem;
    border: 2px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
    border-radius: 1rem;
  }

  .home-card > img {
    width: 350px;
  }

  .col-contacto_horario {
    flex-direction: column;
    width: 100%;
  }

  .col-horario {
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }

  .row-ubicacion {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }

  .container-horario-info {
    flex-direction: column;
    align-items: center;
  }

  .container-horario_horario {
    margin-top: 2rem;
    padding: 0;
  }

  .titulo {
    margin-top: 1rem;
  }

  .container-contactanos-img {
    display: none;
  }

   .row-video {
    margin-top: 0;
    padding: 2rem 0;
    margin-bottom: 0;
  }

  .container-video-video {
    margin-top: 1rem;
    height: 350px;
  }

  .col-ubicacion_img {
    margin: 3rem 0;
  }

  .correo {
    font-size: 1rem;
  }

.container-bienvenido img {
  right: 15%;
  bottom: 25%;
}

}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

  .row-home {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .home-card {
    width: 400px;
    margin-bottom: 3rem;
    border: 2px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
    border-radius: 1rem;
  }

  .home-card > img {
    width: 350px;
  }

  .col-contacto_horario, .col-video, .row-ubicacion {
    flex-direction: column;
    padding: 3rem 0;
    width: 100%;
  }

  .row-ubicacion {
    width: 100%;
  }

  .col-contacto_horario {
    padding-top: 3rem;
  }

  .container-horario-info {
    flex-direction: column;
    align-items: center;
  }

  .container-horario_horario {
    padding: 0;
  }

  .titulo {
    margin-top: 0;
  }

  .row-video {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .col-ubicacion_img {
    margin-top: 3rem;
  }

  .row-video {
    padding: 2rem 0;
  }

  .container-video-info p {
    padding: 0;
  }

  .container-video-video {
    margin-top: 3rem;
    height: 350px;
  }

  .col-horario {
    margin-top: 2rem;
  }


}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .row-ubicacion {
    width: 85%;
    margin: auto;
    padding-bottom: 5rem;
  }

  .col-contacto_horario {
    padding-top: 0;
  }

  .row-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
  }

  .container-video-video {
    margin-top: 2rem;
  }

  .col-ubicacion_img img {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .row-ubicacion {
    width: 90%;
    padding-bottom: 3rem;
  }

  .row-contacto_horario {
    gap: 5rem;
  }

}

/* ---------lg----------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
  .extintor-position {
      left: 3%;
    }

  .home-card {
    width: 100%; 
    margin: 2rem 2rem 2rem 2rem;
  }

  .col-card {
    margin: 0.5rem;
  }

  .col-lg-4 {
    width: 40%;
  }

  .container-video {
    width: 90%;
  }

  .container-bienvenido img {
    right: 30%;
  }

  .row-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 90%;
  }

  .container-video-video {
    margin-top: 2rem;
  }

  .row-home {
    padding: 0;
    width: 90%;
  } 

  .row-ubicacion {
    width: 80%;
  }


}

/* ---------xl----------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  
  .extintor-position {
      left: 100px;
    }

  .container-video {
    width: 90%;
  }

  .container-bienvenido img {
    right: 30%;
  }

}

/* ---------xxl----------- */
@media screen and (min-width: 1400px) {
  
  .extintor-position {
      left: 20%;
    }

}







 