.column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  background: #000; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-bienvenido {
    margin: 2rem 0;
    height: 270px;
    width: 220px;
} 

.img-extintor {
  height: 220px;
  width: 190px;
}

.card-paridad {
  display: flex;
  align-items: center;
  padding: 0;
}

.card-impar {
  justify-content: flex-end;
}

.card-par {
  justify-content: flex-start;
}

.home-card {
  margin: 1rem;
  width: 80%;
  border: 2px solid #7a7878;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.home-card:hover {
  transform: scale(105%);
  filter: grayscale(50%);
}

.home-card > img {
  height: 300px;
  width: 90%; 
  object-fit: fill; 
  object-position: center; 
  border-radius: 1rem;
  border: 2px solid #000;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}

.home-card-body {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

/* -------------- Seccion ubicacion ----------------- */

.ul-ubicacion {
  list-style-type: none;
  padding: 0;
}

.ul-ubicacion li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: red;
}

.col-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


/* -------------- Seccion contacto/horario ----------------- */

.row-contacto_horario {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-contacto, .ul-horario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.ul-contacto li, .ul-horario li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: red;
}

.ul-contacto li a {
  text-decoration: none;
  color: red;
}

.ul-contacto li a:hover {
  color: #fff;
  transform: scale(1.2)
}

.col-extintor-reloj {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

/* -------------- Seccion video ----------------- */

/* -------------- Seccion whatsapp ----------------- */

.whatsapp {
  height: 130px;
  width: 130px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.whatsapp:hover {
  transform: scale(1.3);
  filter: grayscale(40%);
}

.container-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 95%; 
}

.container-video video {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}


 .seccion-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


/* -------------- RESPONSIVE ----------------- */


/* ---------xs----------- */
@media screen and (max-width: 575px) {

  .extintor-position {
    left: 10px;
  }

  .col-horario {
    flex-direction: column;
    justify-content: center;
  }

  .col-horario-img {
    justify-content: center;
  }

 .col-ubicacion {
    justify-content: center;
    align-items: center;
 }

 .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .whatsapp {
    height: 100px;
    width: 100px;
    bottom: 10px;
  }

.card-impar {
  justify-content: center;
}

.card-par {
  justify-content: center;
}

.col-extintor-reloj {
    justify-content: center;
    align-items: center;
  }

}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

  .extintor-position {
    left: 10%;
  }

  .seccion-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-ubicacion {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

   .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .col-horario {
    flex-direction: column;
    justify-content: center;
  }

  .col-horario-img {
    justify-content: center;
  }

.card-impar {
  justify-content: center;
}

.card-par {
  justify-content: center;
}

.col-extintor-reloj {
    justify-content: center;
    align-items: center;
  }

}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .col-ubicacion {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

   .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .home-card > img {
    width: 90%; 
  }

  .home-card {
    width: 100%;
  }

  /* .col-extintor-reloj {
    justify-content: center;
  } */

}

/* ---------lg----------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
  .extintor-position {
      left: 3%;
    }

}

/* ---------xl----------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  
  .extintor-position {
      left: 100px;
    }

}

/* ---------xxl----------- */
@media screen and (min-width: 1400px) {
  
  .extintor-position {
      left: 20%;
    }

}







 