.column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-home {
  background: #000; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.img-bienvenido {
    margin: 2rem 0;
    height: 270px;
    width: 220px;
} 

.img-extintor {
  height: 220px;
  width: 190px;
}

.col-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.home-card {
  color: #fff;
  background: #080808;
  background: linear-gradient(360deg, rgba(8, 8, 8, 1) 20%, rgba(255, 255, 255, 1) 100%);
  width: 90%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 1rem;
  padding-top: 1.5rem;
}

.home-card:hover {
  background: #080808;
  background: linear-gradient(180deg, rgba(8, 8, 8, 1) 28%, rgba(255, 255, 255, 1) 100%);
  color: #000;
  transform: scale(105%);
  filter: grayscale(50%);
}

.home-card > img {
  background-color: #fff;
  height: 250px;
  width: 90%; 
  object-fit: fill; 
  object-position: center; 
  border-radius: 1rem;
  border: 2px solid #fff;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.7));
}

.home-card-body {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

/* -------------- Seccion ubicacion ----------------- */

.ul-ubicacion {
  list-style-type: none;
  padding: 0;
}

.ul-ubicacion li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: red;
}

.col-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


/* -------------- Seccion contacto/horario ----------------- */

.row-contacto_horario {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-contacto, .ul-horario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.ul-contacto li, .ul-horario li {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  color: red;
}

.ul-contacto li a {
  text-decoration: none;
  display: inline-block;
  transition: transform .5s;
}

.color-rojo {
  color: red;
}

.color-gris, .hora {
  color: #979191;
}

.hora {
  letter-spacing: 1px;
}

.titulo {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  letter-spacing: 2px;
}

.ul-contacto li a:hover {
  color: #fff;
  transform: scale(1.2);
}

.icon-click {
  color: #333bb2;
}

.col-extintor-reloj {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

/* -------------- Seccion video ----------------- */

.container-info {
  width: 80%;
}

.container-info p {
  padding: 1rem;
  text-align: justify;
  color: #fff;
  letter-spacing: 1px;
}

.container-info span{
  font-weight: bold;
  color: red;
}

.container-video {
  width: 80%;
  margin-top: 2rem;
}

.container-video video {
  width: 100%;
  object-fit: fill;
  border-radius: 1rem;
}

/* -------------- Seccion whatsapp ----------------- */

.whatsapp {
  height: 110px;
  width: 110px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.whatsapp:hover {
  transform: scale(1.3);
  filter: grayscale(40%);
}



/* -------------- RESPONSIVE ----------------- */

/* ---------xs----------- */
@media screen and (max-width: 575px) {

  .extintor-position {
    left: 10px;
  }

  .col-horario {
    flex-direction: column;
    justify-content: center;
  }

  .col-horario-img {
    justify-content: center;
  }

  .col-ubicacion {
    justify-content: center;
    align-items: center;
  }

  .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .whatsapp {
    height: 100px;
    width: 100px;
    bottom: 10px;
  }

  .col-extintor-reloj {
    justify-content: center;
    align-items: center;
  }

  .home-card {
    width: 95%;
    margin: 1.5rem 0;
  }

  .container-video {
    width: 90%;
  }

}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

  .extintor-position {
    left: 10%;
  }

  .seccion-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-ubicacion {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

   .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .col-horario {
    flex-direction: column;
    justify-content: center;
  }

  .col-horario-img {
    justify-content: center;
  }

.col-extintor-reloj {
    justify-content: center;
    align-items: center;
  }

  .home-card {
    width: 85%;
    margin: 1.5rem 0;
  }

  .home-card > img {
    height: 350px;
  }

  .container-video {
    width: 90%;
  }

}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .col-ubicacion {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }

   .col-mapa {
    justify-content: center;
    align-items: center;
  }

  .home-card > img {
    width: 90%; 
    height: 250px;
  }

  .home-card {
    width: 100%;
    margin: 1rem;
  }

}

/* ---------lg----------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
  .extintor-position {
      left: 3%;
    }

  .home-card {
    width: 100%; 
    margin: 2rem 2rem 2rem 2rem;
  }

  .col-card {
    margin: 0.5rem;
  }

  .col-lg-4 {
    width: 40%;
  }

  .container-video {
    width: 90%;
  }

}

/* ---------xl----------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  
  .extintor-position {
      left: 100px;
    }

  .container-video {
    width: 90%;
  }

}

/* ---------xxl----------- */
@media screen and (min-width: 1400px) {
  
  .extintor-position {
      left: 20%;
    }

}







 