.container-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nombre {
 	background: #e62320;
	background: linear-gradient(180deg, rgba(230, 35, 32, 1) 0%, rgba(0, 0, 0, 1) 100%); 
	width: 100vw;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.nombre span {
	margin: 1rem 0;
	font-size: 4rem;
  	font-weight: 500;
  	font-style: normal;
    text-transform: capitalize;
	text-align: center;
    font-weight: bold;
    color: #fff;
	text-shadow: 5px 10px 5px #000;
	background-color: transparent;
	-webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
  	-webkit-text-stroke: 1px #000;
}


