.container-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bienvenido {
    width: 170px; 
    height: 180px; 
    position: absolute;
    top: 0;
    left: 5%;
	z-index: 1;
}

.nombre {
 	background: #e62320;
	background: linear-gradient(180deg, rgba(230, 35, 32, 1) 0%, rgba(0, 0, 0, 1) 100%); 
	width: 100vw;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
}

.nombre span {
	font-size: 4rem;
	font-family: "Ubuntu", sans-serif;
  	font-weight: 500;
  	font-style: normal;
    text-transform: capitalize;
	text-align: center;
    font-weight: bold;
    color: #fff;
	text-shadow: 5px 10px 5px #000;
	background-color: transparent;
	-webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
  	-webkit-text-stroke: 1px #000;
}


/* ---------xs----------- */
@media screen and (max-width: 575px) {
	.bienvenido {
		display: none;
	}
}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {
	.bienvenido {
		display: none;
	}
}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.bienvenido {
		display: none;
	}
}
