.container-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nombre {
 	background: #e62320;
	background: linear-gradient(180deg, rgba(230, 35, 32, 1) 0%, rgba(0, 0, 0, 1) 100%);  
	width: 100vw;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.nombre h1 {
    color: #fff;
	text-shadow: 5px 10px 5px rgba(205, 184, 184, 0.5);
	-webkit-text-fill-color: #fff; 
  	-webkit-text-stroke: 1px #000; 
}

.nombre span {
	font-size: 3rem;
    -webkit-text-fill-color: #000;
	-webkit-text-stroke: 0.3px #fff; 
}


