.container-footer {
    height: 200px;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    color: #fff;
    background: #e62320;
	  background: linear-gradient(0deg, rgba(230, 35, 32, 1) 0%, rgba(0, 0, 0, 1) 95%);  
}

.li-redes {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.li-redes li {
    width: 15px;
    height: 15px;
    margin: 1rem;
}