.container-pregunta {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
    padding: 2rem;
    width: 100%;
}

.container-pregunta p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    margin: 0;
}

.container-pregunta p {
    font-size: 1.2rem;
}

.pregunta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pregunta p {
    color: red;
}

.pregunta p {
    width: 90%;
}

.icono-flecha { 
    color: #fff;
    width: 10%;
    height: 30px;
    padding-left: 15px;
}

.texto-oculto {
    max-height: 0; 
    opacity: 0;
    overflow: hidden; 
}

.texto-visible {
    max-height: auto;
    opacity: 1;
    padding-top: 10px;
    color: #fff;
}


.color-light {
    color: #fff;
}


/* -------------- RESPONSIVE ----------------- */

/* ---------xs----------- */
@media screen and (max-width: 575px) {

}

/* ---------sm----------- */
@media screen and (min-width: 576px) and (max-width: 767px) {

}

/* ---------md----------- */
@media screen and (min-width: 768px) and (max-width: 991px) {

}

/* ---------lg----------- */
@media screen and (min-width: 992px) and (max-width: 1199px) {

}

/* ---------xl----------- */
@media screen and (min-width: 1200px) and (max-width: 1399px) {

}