.container-pregunta {
    border: 2px solid rgba(255, 0, 0, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.503); 
    padding: 2rem;
    width: 100%;
}

.container-pregunta p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: justify;
    margin: 0;
}

.container-pregunta p span {
    color: red;
    font-size: 1.2rem;
}

.texto-oculto {
    max-height: 0; 
    opacity: 0;
    overflow: hidden; 
}

.texto-visible {
    max-height: 100px;
    opacity: 1;
    padding-top: 10px;
}