
@font-face {
    font-family: 'bank-sans';
    src: url('./assets/fonts/bank-sans.otf') ; /* Asegúrate del formato */
    font-weight: normal; 
    font-style: normal;
    font-display: swap; 
}

* {
  font-family: 'bank-sans';
  margin: 0;
  padding: 0; 
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}
