
@font-face {
    font-family: 'bank-sans';
    src: url('./assets/fonts/bank-sans.otf') ; 
    font-style: normal;
    font-display: swap; 
}

html, body {
    font-family: 'bank-sans';
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}

